* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #f0f0f0;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#form input[type="text"], #form textarea, #form button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#form {
    background: #F9F9F9;
    padding: 25px;
    margin: 200px auto;
    height: 380px;
}

#form h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#form h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#form input[type="text"], #form textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#form input[name="min_image_size"], #form input[name="max_image_size"] {
    width: 44%;
}

#form input[type="text"]:hover, #form textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#form textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#form #form-submit {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

#form button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#form button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#form input:focus, #form textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.image_type {
    display: none;
}

.image_type + label {
    background-color: white;
    border-radius: 0px;
    border: 1px solid #d3d3d3;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 20px;
}

.image_type + label:hover {
    cursor: pointer;
    border: 1px solid #2783FB;
}

.image_type:checked + label {
    background-color: #eee;
    background: #2783FB;
}

.image_type:checked + label:after {
    content: "\2714";
    color: white;
}

.background {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.progressBar {
    border: solid 2px #86A5AD;
    background: white url('../images/loading.gif') no-repeat 10px 10px;
}

.progressBar {
    display: block;
    width: 350px;
    height: 50px;
    top: 50%;
    left: 15%;
    margin-top: -14px;
    padding: 10px 10px 10px 50px;
    text-align: left;
    line-height: 27px;
    font-weight: bold;
    position: absolute;
    z-index: 2001;
}
